.list-group-sm .list-group-item {
    padding: 0.3rem;
}

.clickable {
    cursor: pointer;
    transition-duration: 0.2s;
}
  
.clickable:hover {
    color: rgb(204, 204, 204);
}

.clickable:active {
    color: rgb(167, 167, 167);
}

#interactive-box {
    position: relative;
    overflow: hidden;
    display: block;
    height: calc(1.5em + 0.75rem + 2px);
}
  
#interactive-input {
    background: none;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    display: block;
    padding: 0.375rem 0.75rem;
    width: 100%;
    z-index: 0;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Courier New", Courier, monospace;
    line-height: 1.5;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    letter-spacing: 0.1em;
}

#interactive-input:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#interactive-echo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: transparent;
    z-index: -1;
    padding: 0.375rem 0.75rem;
    white-space: pre;
    border: 1px transparent;
    border-radius: 0.25rem;
    background-color: white;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Courier New", Courier, monospace;
    line-height: 1.5;
    letter-spacing: 0.1em;
}

.highlight {
    background: #ffc6f1;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #ff2ecc;
}

li {
    font-family: "Courier New", Courier, monospace;
}